:root {
  --dark: #19323B;
  --medium: "#53A6C4";
  --background-light: #DEE1E2
}

body {
  margin: 0;
  font-family: 'Hind Siliguri', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DEE1E2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  font-size: 60px;
  font-weight: bold;
  color: var(--dark);
}

#the-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#nav-items {
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-around;
}

#nav-items:hover {
  cursor: pointer;
  color: var(--background-light)
}

#footer {
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  margin: 5px;
}

#logo:hover {
  cursor: pointer;

}

.section-title {
  margin-top: 50px;
  font-weight: bold;
  font-size: 50px;
  color: var(--dark);
}

.section-body {
  display: flex;
  flex: 1;
}

#selfie {
  border: 5px solid #616363
}

#about-me-body {
  margin-left: 10px;
  font-size: 22px;
  background-color: var(--dark);
  color: #DEE1E2;
  padding: 8px;
  box-shadow: 5px 5px 10px #19323B
}

#project-div {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #19323B;
  display: flex;
  box-shadow: 5px 5px 10px #19323B
}

#project-title {
  margin-left: 5px;
  flex: 4;
  color: white;
}

#repo-button {
  display: flex;
  margin-right: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-input {
  margin: 20px;
}